@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background: #191A1C;
    display: flex;
    justify-content: center;
}
input{
  outline: none;
}
input::placeholder{
  color: #c4c4c4;
}
@media only screen and (max-width: 1023px){
}