#sidebar {
    background: #121212;
    box-shadow: 15px 15px 30px #0f0f0f,
        -15px -15px 30px #151515;
    color: #fff;
}

#footer {
    background: #191919;
    box-shadow: 15px 15px 30px #0f0f0f,
        -15px -15px 30px #151515;
}
#nav {
    background: #191919;
    box-shadow: 15px 15px 30px #0f0f0f,
        -15px -15px 30px #151515;
}

#search {
    background: #121212;
}

#update {
    background: #191919;
    box-shadow: 15px 15px 30px #0f0f0f,
        -15px -15px 30px #151515;
}

#updateSub {
    background: #292929;
}

#ScrollDown {
    background: #292929;
}

#subSettings {
    background: #191919;
    box-shadow: 15px 15px 30px #0f0f0f,
        -15px -15px 30px #151515;
    color: #fff;
}